
#element-toggle {
  display: none;
}
#element-toggle:checked ~ #myModal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar
{ 
    position: fixed !important; top: 0; left: 0; right: 0; 
   
}

